<div class="container">
  <div class="row">
    <div class="col">
      <button class="btn btn-success" (click)="onStartPress()" >Start</button>
      <button class="btn btn-danger" (click)="onStopPress()" >Stop</button>
    </div>
  </div>
</div>
