<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-md-6">
      <app-odd *ngFor="let data of oddNumber" [number]=data ></app-odd>
    </div>
    <div class="col-6 col-md-6">
      <app-even *ngFor="let data of evenNumber" [number]=data ></app-even>
    </div>
  </div>
</div>
